@font-face {
  font-family: 'simKyungha';
  src: url("./assets/fonts/SimKyungha.ttf");
}

* {
  font-family: 'simKyungha';
}

/* 로그인 페이지 */
.loginBody {
  background-color: #C7B4D6;
}

.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBackground {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: #F5E9FF;
  width: 450px;
  height: 300px;
  padding: 2%;
  border-radius: 20px;
}

.container {
  font-size: 35px;
}

.floomingIcon {
  width: 11%;
  height: 11%;
  margin-right: 10px;
}

.passwordFormContainer {
  margin: 5%;
}

.passwordForm {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  margin: 10px;
  font-size: 20px;
}

.loginButton {
  background-color: #FAAAC2;
  border: none;
  border-radius: 10px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
}

/* 메인 페이지 */

.mainBody {
  background-color: #F5E9FF;
}

@media screen and (max-width: 1024px) {
  .loginBackground {
    width: 400px;
    height: 250px;
  }

  .container {
    font-size: 30px;
  }

  .loginButton {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .loginBackground {
    width: 330px;
    height: 200px;
  }

  .container {
    font-size: 25px;
  }

  .passwordForm {
    font-size: 18px;
    margin: 8px;
  }

  .loginButton {
    font-size: 18px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width:380px) {
  .loginBackground {
    width: 250px;
    height: 150px;
  }

  .container {
    font-size: 20px;
  }

  .passwordForm {
    font-size: 13px;
    height: 30px;
    margin: 3px;
  }

  .loginButton {
    font-size: 13px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 270px) {
  .loginBackground {
    width: 200px;
    height: 130px;
  }

  .container {
    font-size: 17px;
  }

  .passwordForm {
    font-size: 10px;
    height: 25px;
    margin: 3px;
  }

  .loginButton {
    font-size: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }
}