<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='style.css'>
  <link href='../assets/favicon.png' rel='shortcut icon' type='image/x-icon'>
  <script src="https://kit.fontawesome.com/1476e507ad.js" crossorigin="anonymous"></script>
  <title>flooming 관리자 페이지</title>
</head>

<body class="mainBody">
  <!-- header -->
  <section class="logoContainer">
    <img class="logoIcon" src=" ../assets/icon.png" alt="icon">
    Flooming Reports
  </section>

  <!-- contents -->
  <main class="contents">
    <section class="contentContainer">
      <section class="contentHeader">
        <div class="idContainer">
          <span class="reportId"># 1</span>
          <span class="galleryId">Gallery ID : 갤러리아이디</span>
        </div>
        <div class="reportButtonContainer">
          <form>
            <button class="reportButton"><i class="fa-regular fa-images"></i></button>
          </form>
          <form>
            <button class="reportButton"><i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
      </section>

      <section class="contentImageContainer">
        <img class="image" src="../assets/mainPhoto.jpg" alt="photo" />
        <img class="image" src="../assets/illustrationimageEx.jpg" alt="picture" />
      </section>

      <section class="contentTextContainer">
        <span class="text">comment</span>
        <span class="text reson">사유 : 신고사유</span>
      </section>

      <section class="contentDateContainer">
        <span class="reportDate">2022-08-23 22:53:14</span>
      </section>
    </section>


    <section class="contentContainer">
      <section class="contentHeader">
        <div class="idContainer">
          <span class="reportId"># 1</span>
          <span class="galleryId">Gallery ID : 갤러리아이디</span>
        </div>
        <div class="reportButtonContainer">
          <form>
            <button class="reportButton"><i class="fa-regular fa-images"></i></button>
          </form>
          <form>
            <button class="reportButton"><i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
      </section>

      <section class="contentImageContainer">
        <img class="image" src="../assets/mainPhoto.jpg" alt="photo" />
        <img class="image" src="../assets/illustrationimageEx.jpg" alt="picture" />
      </section>

      <section class="contentTextContainer">
        <span class="text">comment</span>
        <span class="text reson">사유 : 신고사유</span>
      </section>

      <section class="contentDateContainer">
        <span class="reportDate">2022-08-23 22:53:14</span>
      </section>
    </section>
  </main>
</body>

</html>